/* font-family: 'Alata', sans-serif; */

:root {
  --primary-color: #6c63ff;
  --secondary-color: rgb(211, 72, 72);
  --branding-color: rgb(211, 176, 211);
}
body {
  background-color: #ffffff;
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1 {
  font-family: "Alata", sans-serif;
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 0;
  line-height: 1.5;
}
h2 {
  font-family: "Alata", sans-serif;
  font-size: 26px;
  margin: 0;
  line-height: 1.5;
}
h3 {
  font-family: "Alata", sans-serif;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.5;
}

h7 {
  text-align: center;
  display: block;
  margin-top: 50px;
}
.main-image {
  width: 250px;
  height: 300px;
  margin-inline: 50px 0;
  border-radius: 10px;
  padding: 5px;
}

.info {
  display: flex;
  justify-content: center;
}
.info a {
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-color: var(--primary-color);
}
.contact-link {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.about-link {
  text-decoration: none;
  color: var(--primary-color);
}

.paragraphs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.paragraphs p {
  border: 1px solid;
  margin: 50px;
  background-color: var(--branding-color);

  border-radius: 4px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
}
.email:hover {
  text-decoration: underline;
}
.back:visited {
  color: var(--primary-color);
}
.project-description {
  padding: 120px 60px;
}
.launch-buttons {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-section {
  text-align: center;
}
.about-container {
  padding: 60px 20px;
}
.content {
  text-align: center;
}
nav {
  padding: 10px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: #6c63ff;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--branding-color);
}
nav a.active {
  color: var(--secondary-color);
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
    display: block;
  }
  h1 h2 h3 {
    text-align: center;
    display: block;
  }
  .launch-buttons {
    text-align: center;
    display: block;
    margin: 30px;
  }
}
