/* font-family: 'Playfair Display SC', serif; */

:root {
  --primary-color: #6c63ff;
  --secondary-color: white;
  --branding-color: rgb(211, 176, 211);
}

body {
  margin: 60px auto;
  max-width: 800px;
  background-color: yellowgreen;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 0;

  text-align: center;
}
h2 {
  font-size: 96px;
  margin: 0;
  text-align: center;
}
h3 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
h7 {
  text-align: center;
  display: block;
  margin-top: 50px;
}

.info {
  display: flex;
  justify-content: center;
}
.info a {
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-color: var(--primary-color);
}
.contact-link {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.about-link {
  text-decoration: none;
  color: var(--primary-color);
}

.paragraphs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.paragraphs p {
  border: 1px solid;
  margin: 50px;
  background-color: var(--branding-color);

  border-radius: 4px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
}
.email:hover {
  text-decoration: underline;
}
.back:visited {
  color: var(--primary-color);
}
